.dashboard-main .boards{
    max-width: 810px;
    margin: 0 auto;
    margin-top: 130px;
}

.main-board-title{
    color: #ffffff;
    text-shadow: -1px 1px 1px black;
}

.board-cat{
    padding: 10px;
}
.boards .main-board-wrapper, .boards .latests-threads{
    background: #7A77FF;
    padding: 10px;
    margin: 10px;
}

.main-board-wrapper ul {
    width: 100%;
}

.main-board-wrapper ul li{
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid;
    cursor: pointer;
}

.main-board-wrapper ul li:hover{
    text-decoration: underline;
}


.latests-threads .bd-2{
    background: white;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.28);
}

.board-details{
    padding: 5px;
    position: relative;
}
.reactions-container > ul > :first-child{
    display: inline-block;
    position: relative;

}



.board-details .thread-post-detail{
    float: right;
}

.board-details .reactions-container{
    float: left;
}
.board-hints li{
    display: inline-block;
    margin-left: 10px;
    color: rgba(128, 128, 128, 0.91);
    font-size: 11px;
}

.controls-main{
    padding: 10px;
    padding-bottom: 0;
}

.new-post-btn button{
    border: 0;
    padding: 5px;
    background: #41404d;
    color: #ffffff;
    outline-color: transparent;
    cursor: pointer;
}

.thread-op-details span img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    vertical-align: middle;
    margin: 5px;
}

.board-title a{
    text-decoration: none;
}
.board-title a:hover{
    text-decoration: underline;
}

.board-title{
    max-width: 250px;
}

.th-pic-30x30{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 20px;
}

.reactions-container {
    margin-top: 5px;
}

.reactions-container .react-hover{
    background: #F2F3F5;
    padding: 10px;
    font-size: 11px;
    text-decoration: none;
    color: #616770;
}

.react-hover:hover{
    background: #e4e4e4;
}

.reaction-lists{
    width: 29%;
    position: absolute;
    margin-bottom: 5px;
    background: rgb(255, 250, 250);
    margin-top: -100px;
    height: 100px;
}

.react-btn{
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 5px;
}

.react-btn:hover{
    outline: 1px solid rgba(128, 128, 128, 0.18);
}

#r1{
    background-image: url("./images/yasuo.png");
}

#r2{
    background-image: url("./images/sona.png");  
}

#r3{
    background-image: url("./images/rammus.png");  
}

#r4{
    background-image: url("./images/lulu.png");  
}

#r5{
    background-image: url("./images/leesin.png");  
}

.react-list{
    height: 30px;
    width: 30px;
    background-size: cover;
    display: inline-block;
}

.reactions ul{
    list-style: none;
    /* right: 0; */
    top: 1px;
}

.reactions ul li{
    display: block;
}